* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: url("restaurant-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background-color: black;
  opacity: 0.9;
}

@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .app-link {
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}

@media (min-width: 769px) {
  header .app-link {
    margin-right: 50px;
  }
}

header .app-link:hover {
  cursor: pointer;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  height: 300px;
  color: white;
}

@media (max-width: 768px) {
  .introduction {
    height: 400px;
  }
}

.introduction .intro-text {
  width: 80%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  text-align: center;
  color: white;
}

.menu .menu-text {
  background-color: black;
  opacity: 0.9;
  padding: 20px;
}

.menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2000px;
  margin-top: 50px;
}

.menu .menu-items .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  opacity: 0.9;
  height: 300px;
  width: 200px;
}

.contactarea1,
.contactarea2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.contactarea1 h2,
.contactarea2 h2 {
  background-color: black;
  opacity: 0.9;
  padding: 15px 20px;
}

.contactinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  background-color: black;
  opacity: 0.9;
  color: white;
  height: 200px;
  width: 200px;
}

@-webkit-keyframes formbuttons {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

@keyframes formbuttons {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

.contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 50px;
  height: 500px;
  background-color: black;
  color: white;
}

.contactform .formcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .contactform .formcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contactform input[type="text"], .contactform textarea, .contactform input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contactform textarea {
  width: 80%;
  height: 100px;
}

.contactform input[type="submit"], .contactform input[type="reset"] {
  padding: 15px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.contactform input[type="submit"]:hover, .contactform input[type="reset"]:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-animation-name: formbuttons;
          animation-name: formbuttons;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: black;
  margin-top: 100px;
  padding: 50px;
}

footer .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin-left: 30px;
}

footer .social-buttons .social-btn {
  color: white;
}

footer .social-buttons .social-btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */