/*
Import for the library that provides simple, elegant and maintainable media queries in Sass.
@author Eduardo Boucas
*/
@import "./include-media.scss";

$mainColor: white;
$secondaryColor: black;

///
/// Assigns flexbox to an element with one line of code
///
/// @param {String} $direction - flex-direction value
/// @param {String} $justify - justify-content value
/// @param {String} $align - align-items value
///
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

///
/// Assigns styles for blocks
///
@mixin blockStyles() {
  color: $mainColor;
  background-color: $secondaryColor;
  opacity: 0.9;
}

///
/// Changes the buttons color on hover
///
@keyframes buttonsAnimation {
  from {
    color: $mainColor;
    background-color: $secondaryColor;
  }
  to {
    color: $secondaryColor;
    background-color: $mainColor;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("restaurant-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  @include flex(row, flex-end, center);
  @include blockStyles();
  @include media("<=tablet") {
    @include flex(row, space-evenly, center);
  }
  margin-bottom: 50px;
  .app-link {
    @include media(">tablet") {
      margin-right: 50px;
    }
    color: $mainColor;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.introduction {
  @include flex(column, space-around, center);
  @include blockStyles();
  @include media("<=tablet") {
    height: 400px;
  }
  @include media("<=phone") {
    height: 500px;
  }
  text-align: center;
  height: 300px;
  .intro-text {
    @include media(">=desktop") {
      width: 60%;
    }
    width: 80%;
  }
}

.menu {
  @include flex(column, space-evenly, center);
  @include blockStyles();
  text-align: center;
  padding: 20px;
  button {
    width: 100px;
    height: 50px;
    margin: 20px 10px;
    border: 1px solid $mainColor;
    color: $mainColor;
    background-color: $secondaryColor;
    &:hover {
      cursor: pointer;
      color: $secondaryColor;
      background-color: $mainColor;
      animation-name: buttonsAnimation;
      animation-duration: 0.5s;
    }
    &:focus {
      color: $secondaryColor;
      background-color: $mainColor;
    }
  }
  .menu-item {
    @include flex(column, space-evenly, center);
    height: 300px;
    width: 200px;
  }
}

.contactareas {
  @include flex(column, space-between, center);
}

.contactarea1 {
  @include flex(column, space-evenly, center);
  @include blockStyles();
  width: 200px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px 0;
  h2 {
    margin-bottom: 20px;
  }
  .contact-icon {
    color: $mainColor;
  }
}

.contactarea2 {
  @extend .contactarea1;
  width: 100%;
}

.contactform {
  @include flex(column, space-evenly, center);
  width: 100%;
  height: 600px;
  .formcontainer {
    @include flex(column, center, center);
    width: 200px;
  }
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }
  textarea {
    @extend input[type="text"];
    @include media("<=tablet") {
      width: 300px;
    }
    @include media("<=phone") {
      width: 200px;
    }
    height: 200px;
    width: 500px;
  }
  input[type="submit"], input[type="reset"] {
    padding: 15px;
    width: 100px;
    border: 1px solid $mainColor;
    border-radius: 5px;
    color: $mainColor;
    background-color: $secondaryColor;
    &:hover {
      cursor: pointer;
      color: $secondaryColor;
      background-color: $mainColor;
      animation-name: buttonsAnimation;
      animation-duration: 0.5s;
    }
  }
}

footer {
  @include flex(row, center, center);
  color: $mainColor;
  background-color: $secondaryColor;
  margin-top: auto;
  padding: 50px;
  .social-buttons {
    @include flex(row, space-between, center);
    width: 10%;
    margin-left: 30px;
    .social-btn {
      color: $mainColor;
      &:hover {
        cursor: pointer;
      }
    }
  }
}