@import "./include-media.scss";

$focusColor: orange;
$textColor: white;
$backgroundColor: black;
$customBorder: 1px solid black;
$formMargin: 20px;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("restaurant-unsplash5.jpg") repeat;
}

@keyframes headerlinks {
  from {
    color: $textColor;
  }
  to {
    color: $focusColor;
  }
}

header {
  @include flex(row, flex-end, center);
  @include media("<=tablet") {
    @include flex(row, space-evenly, center);
  }
  margin-bottom: 50px;
  .app-link {
    @include media(">tablet") {
      margin-right: 50px;
    }
    margin-top: 50px;
    text-decoration: none;
    color: $textColor;
    &:hover {
      cursor: pointer;
      color: $focusColor;
      animation-name: headerlinks;
      animation-duration: 0.5s;
    }
  }
}

.introduction {
  @include flex(column, space-between, center);
  text-align: center;
  background-color: $backgroundColor;
  opacity: 0.9;
  color: $textColor;
  .restaurant-name {
    color: $focusColor;
  }
  .intro-text {
    width: 80%;
  }
  .opening-times {
    margin-top: 20px;
  }
}

.menu {
  @include flex(column, space-evenly, center);
  margin-top: 100px;
  text-align: center;
  color: $textColor;
  .menu-text {
    color: white;
    background-color: $backgroundColor;
    opacity: 0.9;
    width: 60%;
    h2 {
      color: $focusColor;
    }
  }
  .menu-items {
    @include flex(column, space-between, center);
    height: 2000px;
    margin-top: 50px;
    .menu-item {
      @include flex(column, space-evenly, center);
      background-color: $backgroundColor;
      color: white;
      border: $customBorder;
      opacity: 0.9;
      height: 300px;
      width: 200px;
      .menu-day {
        color: $focusColor;
      }
    }
  }
}

.contactarea1,
.contactarea2 {
  @include flex(column, space-evenly, center);
  margin-top: 100px;
  color: $textColor;
  h2 {
    color: $focusColor;
  }
}

.contactinfo {
  @include flex(column, space-around, center);
  background-color: $backgroundColor;
  opacity: 0.9;
  color: $textColor;
  border: $customBorder;
  font-weight: bold;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

@keyframes formbuttons {
  from {
    background-color: $backgroundColor;
    color: $textColor;
  }
  to {
    background-color: $focusColor;
    color: black;
  }
}

.contactform {
  @include flex(column, space-evenly, center);
  width: 50%;
  margin-top: 50px;
  border: $customBorder;
  border-radius: 5px;
  background-color: $backgroundColor;
  color: $textColor;
  .formcontainer {
    @include flex(row, center, center);
    @include media("<=tablet") {
      @include flex(column, center, center);
    }
    margin: $formMargin;
  }
  input[type="text"] {
    width: 100%;
    padding: 15px;
    border: $customBorder;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="email"] {
    @extend input[type="text"];
  }
  textarea {
    @extend input[type="text"];
    width: 80%;
    height: 150px;
    margin: $formMargin;
  }
  input[type="submit"] {
    width: 100px;
    padding: 15px;
    margin: $formMargin;
    border: 1px solid $focusColor;
    border-radius: 5px;
    background-color: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    &:hover {
      background-color: $focusColor;
      color: black;
      animation-name: formbuttons;
      animation-duration: 0.5s;
    }
  }
  input[type="reset"] {
    @extend input[type="submit"];
  }
}

footer {
  @include flex(row, center, center);
  color: $textColor;
  background-color: $backgroundColor;
  height: 100px;
  margin-top: 100px;
  .social-buttons {
    @include flex(row, space-evenly, center);
    width: 10%;
    margin-left: 30px;
    .twitter, .facebook, .instagram {
      //background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
    .twitter {
      color: lightseagreen;
    }
    .facebook {
      color: blue;
    }
    .instagram {
      color: purple;
    }
  }
}